<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>park</key>
	<false/>
	<key>night_club</key>
	<false/>
	<key>movie_theater</key>
	<false/>
	<key>casino</key>
	<false/>
	<key>bar</key>
	<false/>
	<key>art_gallery</key>
	<false/>
	<key>aquarium</key>
	<false/>
	<key>museum</key>
	<false/>
	<key>restaurant</key>
	<false/>
</dict>
</plist>
